# Ignore All
*

# White List
!.gitignore
!.gitconfig
!.tool-versions
!.config/
!.config/**/*
!.tools
!.tools/**/*
!.services/

# OS and Cache files
.DS_Store
Thumbs.db
node_modules
# *.o
# \#*#
# *#
# .#*
# .*~
# *~
# *.dSYM
# *.log
# *.dvi
# *.aux
# *.elc
